<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Note</title>
    <link rel="stylesheet" href="/note-taking-app.css">
</head>
<body>
    <h1>Note-Taking App</h1>
    <h3>Edit Note</h3>
    <div class="posts">
      <p>id :<%=note.id%></p>
      <p>Title :@<%=note.title%></p>
    </div>
    <form method="post" action="/notes/<%=note.id%>?_method=PATCH">
        <textarea name="content" placeholder="<%=note.content%>"></textarea>
        <button type="submit">Update</button>
    </form>
</body>
</html>